---
import PageLayout from "@/layouts/Base.astro";
import SocialList from "@/components/SocialList.astro";
export const prerender = true;

const meta = {
	description: "⌯⌰⌠⌬⌢⌨",
	// 修改：关于
	title: "关于",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-8">关于</h1>

	<div class="prose prose-sm prose-cactus max-w-none">
  <p>
			Astro博客的搭建：
		</p>
		<p>
			① Fork 项目到GitHub 仓库，建议使用不同的仓库名增加保密性。
		</p>
		<p>
			② 注册https://vercel.com/login，关联 GitHub 账户，导入仓库。
		</p>
		<p>
			③ 修改public/admin/config.yml文件内的三处，repo: 仓库路径，site_domain: boke.052360.xyz，https://boke.052360.xyz。
		</p>
		<p>
			④ 在https://github.com/settings/applications/new输入域名https://boke.052360.xyz、https://boke.052360.xyz/oauth/callback，得到 Oauth ID 和 secret。
		</p>
		<p>
			⑤ 在 Vercel -> Settings -> Environment Variables，添加2个环境变量：OAUTH_GITHUB_CLIENT_ID -> Oauth ID和OAUTH_GITHUB_CLIENT_SECRET -> Oauth secret。
		</p>
		<p>
			⑤ 在Vercel添加博客的域名boke.052360.xyz，会提示缺少DNS记录，在052360.xyz的托管网站添加，boke.052360.xyz博客域名至此生效，通过访问 你的域名/admin 访问博客后台，进行编辑、发布文章。
		</p>
		<p>
			简单修改博客界面，矢量图片svg和普通图片avif都在public目录下：
		</p>
		<p>
			修改‘关于’的内容 -> src/pages/about.astro， 修改网站配置 -> src/site.config.ts， 修改导航栏标题，图片 -> src/components/layout/Header.astro。
		</p>
	</div>
	<div>
		<SocialList />
	</div>
</PageLayout>
