---
import PageLayout from "@/layouts/Base.astro";
import SocialList from "@/components/SocialList.astro";
export const prerender = true;

const meta = {
	description: "⌯⌰⌠⌬⌢⌨",
	// 修改：关于
	title: "关于",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-8">关于</h1>

	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			修改‘关于’的内容 -> src/pages/about.astro， 修改网站配置 -> src/site.config.ts， 修改导航栏标题，图片 -> src/components/layout/Header.astro。
		</p>
		<p>
			① 点击 Fork 按钮，复制本项目到你的GitHub 仓库。
		</p>
		<p>
			② Vercel 注册登录，关联 GitHub 账户，导入仓库。
		</p>
		<p>
			修改github仓库/public/admin/config.yml三处，repo: 仓库路径，site_domain: boke.052360.xyz，https://boke.052360.xyz。
		</p>
		<p>
			添加一个GitHub认证，得到 Oauth ID 和 secret。
		</p>
		<p>
			随笔与札记，一个记录生活，一个记录知识。它们是我与世界对话的方式，也是我与自己对话的桥梁。希望这些文字能够带给你一些启发，000000000000000。
		</p>
	</div>
	<div>
		<SocialList />
	</div>
</PageLayout>
